input[type=checkbox] {
    border: 1.5px solid #8F8F8F;
border-radius: 4px;
box-sizing: border-box;
height: 20px;
width: 20px;
}

input[type=checkbox]:checked+label::before {
    background-color:transparent;
}

input[type=checkbox]:checked+label::after {
    background: #36B972
}